NODE_ENV=development
PORT=5001
SUPABASE_URL=https://sgfkpaiucdlzqfrgustw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNnZmtwYWl1Y2RsenFmcmd1c3R3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE0MDI1ODgsImV4cCI6MjA3Njk3ODU4OH0.vD7tosfR-x6ttVj4oDb-QNOXi3keWR9rSsDGDirxiqk
JWT_SECRET=mfIBsIr2UdgQLQSp+t+gMWdzSmisMtRHZ1ey0dp87GvLEezEBFlL2smweZe6h8LC0522FlsHdSB2fO7ik6xzQg==
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
OPENAI_API_KEY=sk-your-openai-api-key-here
SPOONACULAR_API_KEY=your_spoonacular_api_key_here
